body {
    background-color: #17598f;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(217, 236, 40);
    border-width: 5px;
    width: 5%;
}
img:hover{
    background-color: gold;
}
/*CLASS SELECTORS*/
.dota {
    background-color: rgb(97, 33, 180);
}
.sf {
    background-color: darkmagenta;
}
.circular {
    border-radius: 100%;
}
/*ID SELECTORS*/
#heading {
    color: rgb(6, 33, 58);
    font-size: 150px;
}
